body {
  background-color: pink;
  background-image: url(bbb4ab4e9f7e76ec05a33894745bd570.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

